body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto; /* Reduced top and bottom margin */
    padding: 0px; /* Reduced padding */
}

h1, h2 {
    text-align: center;
}

.days {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day-card {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meal {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}