body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto; 
    padding: 0px;
}

h1, h2 {
    text-align: center;
}

.days {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day-card {
    width: 100;
    margin-bottom: 20px;
    background-color: #448fa3; /* Blue color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meal {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #68c5db; /* Light blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0197f6; /* Dark blue color */
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
